html , body{
    font-family: 'Raleway',sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-padding-top: 15%;
    font-size: 0.9vw;
}

#gif{
    width:13.5%;
    height:auto;
    position: relative;
    transform: rotate(-50deg);
    left:100%;
    animation: fly 15s infinite;
}

@keyframes fly{
    0%{
        left:100%;
        top:10%;
    }25%{
        top:40%;
    }50%{
        top:10%;
    }75%{
        top:30%;
    }100%{
        left: -15%;
        top:60%;}
}

#topbanner{
    margin: 0 auto;
    background-size: cover;
    background-image: url("../img/1482.jpg");
    background-position: bottom center;
    min-height: 50vh;
    max-height: 60vh;
    width:100%;
    padding-left: 0rem;
    padding-right: 0rem;
}

.containerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 3%;
    margin-bottom: 3%;
}

.containerBox .box{
    position: relative;
    width: 30%;
    padding: 5%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: auto;
    text-align: center;
}

.containerBox .box:hover{
    border: 1.5mm ridge rgba(0, 0, 0, 0.932);
    border-radius: 8px;
}

.containerBox .box .icon1{
    position: relative;
    width: 20vw;
    height: 40vh;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4%; 
    margin-bottom: 4%;
    border-radius: 50%;
    font-size: 5vw;
    font-weight: 600;
    transition: 1s;
    background-image: url("../img/butterfly.png");
    background-size: 80%;
    background-height: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.containerBox .box:hover .icon1{
    background-color: hotpink;
    box-shadow: 0 0 0 900px hotpink;
    color:white;
}

.containerBox .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.containerBox .box:hover .content{
    color: white;
}

.containerBox .box .content p{
    margin: 0;
    padding: 0;
    font-size: 3vw;
    font-weight: 90;
    letter-spacing: .5%; 
    margin-bottom: 3%;
}

.containerBox .box .content a{
    display: inline-block;
    padding: 2% 2%;
    background: white;
    border-radius: 4px;
    font-size: 2vw;
    font-weight: 300;
    margin-top: 3%;
} 

.containerBox .box:hover .content a{
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar{
    padding-right: 4px;
    padding-left: 4px;
    margin:0;
    border:0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}  


.block{
    background-color: white;
}

.heading{
    position:relative;
    margin-top: 15%;
    font-size: 5.5vw;
    font-weight:100;
    letter-spacing: 1px;
    padding-left: 4%;
}

.nav-item{
    font-size: 2vw;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 2.5%;
    
    background-image: url("../img/butterfly.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

.nav-link{
    display: block;
    align-content: center;
    padding: .5rem 1rem;
}

.navbar-nav{
    max-width:100%;
    align-items: center;
}

.navbar-brand{
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 4px;
    float: left;
    padding-left: 4%;
    text-align: left;
    background-image: none;
    background-color: none;
}

a{
    text-decoration: none;
    color: black;
    content: center;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover{
    border: none;
    background-color: none;
    text-decoration: none;
    color:black;
}

.bg-color{
    background-color: white;
    border-bottom: 2px solid black;
}

.bg-color:hover{
    border: 1px solid black;
    background-color: rgb(245, 66, 135);
}

.container1-fluid{
    overflow-x: hidden; 
    margin-left:-20px; 
    margin-right:-20px; 
}

.navabar-collapse{
    min-height: 0.9vh;
    overflow-y: auto;
}

#quote{
    padding-top: 2%;
    padding-right: 3%;
    font-size: 5vw;
    font-weight: 400;
    text-align: right;
    font-stretch: condensed;
    letter-spacing: .5%;
    line-height: normal; 
}

.header{
    background-color: white;
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: 4px;
    float: left;
    text-align: left;
    padding-left: 2.5%;
    margin:auto;
    
}

.logo{
    background-color: white;
    font-size: 2.5vw;
    font-weight: 600;
    letter-spacing: 2px;
    float: left;
    text-align: left;
    padding-left: 2%;
}

#sound{
    font-size: 1.5vw;
    font-weight: 400;
    text-align: right;
    padding-right:2%;
    background-color: white;
}

.stripes{
    background-color: white;
    max-height: 40px;
}

#s1{
    background-color: black;
    max-height: 20px;
    margin-top: 20px;
    margin-bottom:10px;
    margin-left:-20px;
    margin-right:-20px;
}

#s2{
    background-color: black;
    max-height: 10px;
    margin-bottom: 10px; 
    margin-left:-20px;
    margin-right:-20px;
}

#s3{
    background-color: black;
    height: 5px;
    margin-left:-20px;
    margin-right:-20px;
}

#s4{
    margin: 3vw;
    background-color: black;
    height: 3px;
}

#aboutMe , #contact , #avagadro , #moreAboutMe{
    text-align: justify;
    
}

#aboutMe , #avagadro , #moreAboutMe{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 1.8vw;
    line-height: 1.5em;
}

.img-fluid{
    margin-bottom: 0px;
    max-width: 100%;
}

.link:hover{
    color:rgb(245, 66, 135);
}

.gitIcon{
    width: 20%;
    height: 40%;
}

.gitIcon:hover{
    transform: scale(1.3);
}

#gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(15, 5vw);
    grid-gap: 1em;
    
}

figure{
    margin:0;
}

.image{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-responsive{
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;   
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--4 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 7;
}
.gallery__item--5 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--6 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 12;
}

.gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}

.gallery__item--9 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
}

.gallery__item--10 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 16;
}

.gallery__item--11{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 16;
}

.gallery__item--12{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
   
}

.gallery__item--13{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 11;
}

.gallery__item--14{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 16;
}

.imgOverlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    -webkit-backdrop-filter: blur(5px);
}

.imgOverlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.imgOverlay:hover{
    opacity: 1;
    object-fit: cover;
}

.imgOverlay:hover > *{
    transform: translateY(0);
}

.imgTitle{
    font-size: 3vw;
    text-align: center;
}

.imgDescription{
    font-size: 2vw;
    text-align: center;
    margin:12%;
}

#email:hover{
    text-decoration: underline;
}

.icon{
    content: center;
    max-width: 10%;
    max-height: 80%;
}

.icon:hover{
    transform: scale(1.3);
    border-width: 20px;
    border-color: black;
    border-image: stretch;
}

#contact{
    font-size: 2vw;
}
